
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: url(bg.jpg) no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

.container-content{
    text-align: center;
    padding: 2% 2%;
    background: #f4f4f4;
    max-height: 500px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.container-content .quiz{
    display: inline-flex;
    padding: 6px;
}

.quiz{
    font-size: 1.6rem;
    font-weight: 600;
}

.quiz i{
    position: relative;
    left: 60px;
    font-weight: bold;
    cursor: pointer;
}

.container-content .text{
    padding: 0px 10px;
    margin-top: 16px;
    margin-bottom: 17px;
    font-size: 1.2rem;
    text-align: start;
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.container-content .show-more{
    height: 50px;
    overflow: visible;
    transition: height 0.5s;
}

.bxs-chevron-down{
    transform: translate(360deg);
}